---
import { useTranslations, type Lang } from '../i18n/utils';

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
const orgUrl = import.meta.env.PUBLIC_ORG_URL || 'https://worldculture-empowerment.international';
---

<div class="py-3 px-5 text-center text-[12px] text-text-light">
  <div class="mb-1">
    <a href={`${orgUrl}/satzung-des-vereins`} class="mr-5 no-underline hover:text-text">{t('footer.articles')}</a>
    <a href={`${orgUrl}/impressum`} class="mr-5 no-underline hover:text-text">{t('footer.imprint')}</a>
    <a href={`${orgUrl}/datenschutzerklarung`} class="no-underline hover:text-text">{t('footer.privacy')}</a>
  </div>
</div>

<div class="py-0 px-5 text-center text-[12px] text-text-light">
  <div class="lg:pb-8">
      Worldculture Empowerment e.V.
  </div>
</div>
